@import 'root';

/* footer or tiil sa webiste */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  margin-top: 10px;

  & .container {
    width: 90%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;

    & .header-info {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;

      & a {
        text-decoration: none;
        color: white;
      }
    }
    & .socials {
      display: inline-flex;
      justify-content: center;
      gap: 20px;
      font-size: 2rem;
      text-decoration: none;

      & a {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 7px;
        padding: 10px;
        padding-inline: 20px;
        background-color: rgba(177, 177, 177, 0.24);
        filter: drop-shadow(0px 0px 1px);
      }
      & a:nth-child(1) {
        color: yellow;
      }
      & a:nth-child(2) {
        color: red;
      }
      & a:nth-child(3) {
        color: blue;
      }
      & a:nth-child(4) {
        color: black;
      }
    }
    & .rights {
      display: inline-flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      visibility: inherit;
      text-align: center;

      & .last-rights {
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
      & .rightsicon {
        font-size: 1.5rem;
      }
    }
  }
}