@import "root";

.map-api {
  margin-block: 30px;

  .map-map {
    z-index: 1;
  }
  p {
    margin-bottom: 20px;
    font-size: 1.7rem;
    font-weight: bold;

    @media (width <= 466px) {
      text-align: center;
    }
  }
}
