// all of em is a fonts 
// from mf google 
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --open-sans-font:  "Poppins", sans-serif;
  --space-mono-font: "Space Mono", monospace;
  --inter-font: "Inter", sans-serif;

  --main-box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  --man-text-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  --gray-text: rgb(197, 197, 197);
  --box-gray: rgb(45, 47, 51);

  --nav-icon-bg: rgb(255, 255, 255);
}