@import 'root';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 3px solid blueviolet; */
}
html {
    scroll-behavior: smooth;
}
body {
  background-color: #121212;
  background-image: radial-gradient(#444 1px, transparent 1px);
  background-size: 30px 30px; 

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--open-sans-font);
  color: white;
  animation: moveBg 200s linear infinite;
}
@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

main {
  width: 90%;
  max-width: 700px;
  margin-top: 150px;

  @media (width <= 425px  ) {
    margin-top: 100px;
  }
}

// additional
.about-title {
  text-align: center;
  padding-block: 20px;
  background-color: rgb(45, 47, 51);
  border-radius: 10px;
  margin-bottom: 50px;
}